@page "/"

<style>
    .float {
        float: left;
        width: 45%;
        margin: 5px;
    }

    .clear {
        clear: both;
    }

    textarea {
        width: 100%;
    }
</style>
<h1>CardboardKnight.Scoring Template Generator</h1>
<em>RuleMaker</em> helps generate templates for TheCardboardKnight.Scoring, by taking in a BGG ID and processing it.

<h3>BGG Game Id</h3>
<input @bind="GameId" />
<br />
(example: Gaia Project is 220308, Obsession is 231733)<br />
<button class="btn btn-primary" @onclick="FetchClicked">Fetch</button>
<br />

<h3>Options</h3>
<label for="scoringtype">Scoring Method</label>
<br />
<select id="scoringtype" @bind="ScoringType">
    <option value="@CardboardKnight.Scoring.Models.ScoringType.Simple">Simple</option>
    <option value="@CardboardKnight.Scoring.Models.ScoringType.Advanced">Advanced</option>
</select>

<br />

<label for="winnertype">Winner Type</label>
<br />
<select id="winnertype" @bind="WinnerType">
    <option value="@CardboardKnight.Scoring.Models.Winner.Highest">Highest</option>
    <option value="@CardboardKnight.Scoring.Models.Winner.Lowest">Lowest</option>
</select>


<h2>Output</h2>
<div>
    <div class="clear">&nbsp;</div>
    <div class="float">
        <h3>JSON</h3>
        <textarea @bind="JsonOutput" readonly="readonly" rows="15"></textarea>
    </div>
    <div class="float">
        <h3>RUL</h3>
        <textarea @bind="RulOutput" readonly="readonly" rows="15"></textarea>
    </div>
    <div class="clear">&nbsp;</div>


</div>